*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url(../pic/5049039f-51ba-4847-be9a-688d24ba2936.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

form{
    background: linear-gradient(to bottom,rgb(111, 0, 255),rgb(134, 5, 106) 80%);
    width: 350px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    #sign-in{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 ;
        #sign-in-img {
            border-radius: 50%;
            width: 100px;
        }
        h3{
            text-transform: uppercase;
            margin-top: 10px;
        }
    }
    .password-msg ,.password-msg2 , .user-msg{
        margin:5px auto 25px ;
        font-size: 12px;
        color: red;
    }
    .sign-in-msg{
        margin:5px auto 25px ;
        font-size: 12px;
        color: rgb(251, 255, 27);
    }
    .icon{
        width: 30px;
        height: 30px;
        margin-top: auto;
    }
}

.username{
    display: flex;
    text-transform:capitalize;
    margin:0px 25px ;
    border-bottom: 1px solid rgb(165, 165, 165);
    label{
        margin-top: 10px;
    }
    #username{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        margin-left: 10px;
        width: 100%;
    }
}

.password{
    font-size: 16px;
    display: flex;
    text-transform:capitalize;
    margin:0px 25px;
    border-bottom: 1px solid rgb(165, 165, 165);
    label{
        margin-top: 10px;
    }
    #password , #password2{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        margin-left: 10px;
        width: 100%;
    }
}

.button{
    color: #000;
    border-radius:30px ;
    text-transform: capitalize;
    margin:0px auto 80px;
    border: 0px;
    button{
        padding: 3px 15px;
        font-weight: bold;
    }
}

// for log in page
// .remember-me{
//     display: flex;
//     margin:0px 33px 25px;
//     font-size: 10px;
//     h4{
//         padding-left: 7px;
//         text-transform:capitalize;
//     }
// }
// a{
//     text-decoration: none;
//     color: white;
//     text-transform: capitalize;
//     margin:0 auto 10px;
//     font-size: 10px;
// }